<div style="width:350px; margin-left: 38%; margin-top: 10%;" ng-controller="Login">
 	<form role="form">
	 <div class="form-group" ng-class="{'has-error': loginFailed}">
	    <label for="exampleInputEmail1">Email address</label>
	    <input size="30" ng-model="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Lithium email address">
	     <span ng-if="loginFailed" id="helpBlock" class="help-block has-error">Email not found. Are you sure you submitted the form <a href="https://docs.google.com/forms/d/1ngWK3Qb0Dl3K8d2x1iw1qM4aX9T7XE_O7Pgx7Vl5peI/viewform">here</a>?</span>
	     <span ng-if="httpError" class="help-block has-error">Connection error while trying to login: {{errorMessage}}</span>
	  </div>
	  <div class="text-center">
  		<button ng-click="login()" type="submit" class="btn btn-default">Santa me</button>
  	  </div>
	</form>  
</div>