<img src="images/santaiscoming.gif" style="text-align:center;margin-left: 37%" height="200"> 
<h2>Here is your match!!</h2> 
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img ng-src="{{match.litho['url-icon']}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://community.lithium.com/t5/user/viewprofilepage/user-id/{{match.litho.userId}}">{{match.name}}</a>
                    </div>
                    <div ng-if="match.preferences" class="desc">
						<p>{{match.name}} likes {{match.preferences}}</p>
					</div>
					<div ng-if="!match.preferences" class="desc">
						<p>{{match.name}} likes anything!</p>
					</div>
                </div>
                </div>
            </div>

        </div>

	</div>
</div>
