body {
    background-color: #6b92b9;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

#draw-img {
	-webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
}


h2 {
    font-size: 50px;
    line-height: 20px;
    font-family: 'JungleFeverRegular', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(20, 20, 20, .2) 2px 2px 2px;
    color: red;
     
    /*text stroke*/
    -webkit-text-stroke: 1px #fff473;
}

.match-container {
    margin-left: 20%;
    margin-top: 10%;
    display:block;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    -webkit-box-shadow: 18px 10px 29px 17px rgba(148,102,24,0.87);
    -moz-box-shadow: 18px 10px 29px 17px rgba(148,102,24,0.87);
    box-shadow: 18px 10px 29px 17px rgba(148,102,24,0.87);
    padding:20px;
    width: 40%;
}